<div class="container">
  <h3>Register</h3>
  <form name="registration" (ngSubmit)="registration.form.valid && onSubmit($event)" #registration="ngForm" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="emailInput" placeholder="Email" required
        [(ngModel)]="model.email" #email="ngModel"
        [ngClass]="{'is-invalid':registration.submitted && email.invalid}">
      <small *ngIf="registration.submitted && email.invalid" class="text-danger">*Valid email address is required</small>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstNameInput" placeholder="First Name" required
      [(ngModel)]="model.firstName" #firstName="ngModel"
      [ngClass]="{'is-invalid':registration.submitted && firstName.invalid}">
      <small *ngIf="registration.submitted && firstName.invalid" class="text-danger">*This field is required</small>
    </div>
    <div class="form-group">
      <label for="lastNameInput">Last Name</label>
      <input type="text" class="form-control" name="lastNameInput" placeholder="Last Name" required
      [(ngModel)]="model.lastName" #lastName="ngModel"
      [ngClass]="{'is-invalid':registration.submitted && lastName.invalid}">
      <small *ngIf="registration.submitted && lastName.invalid" class="text-danger">*This field is required</small>
    </div>
    <div class="form-group">
      <label for="activitySelect">Select an activity</label>
      <select class="form-control" name="activitySelect">
        <option></option>
      </select>
    </div>
    <div class="form-group">
      <label for="commentsText">Comments</label>
      <textarea class="form-control" name="commentsText" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
      <a class="btn btn-danger">Cancel</a>
      <button class="btn btn-info pull-right" type="submit">Register</button>
    </div>
  </form>
</div>
