<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-6" *ngIf="registered">
        <p>Thanks for registering!</p>
      </div> 
      <div class="col-sm-6" *ngIf="!registered">
      <h3>Register</h3>
      <form #userForm="ngForm" (ngSubmit)="userForm.valid && onSubmit(userForm)">
        <div ngModelGroup="user">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input ngModel type="text" class="form-control" name="firstName" placeholder="First Name" required
            [ngClass]="{'is-invalid': userForm.submitted && !userForm.valid && !firstName}">
            <small *ngIf="userForm.submitted && !userForm.valid && !firstName" class="text-danger">*This field is required</small>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ngModel type="text" class="form-control" name="lastName" placeholder="Last Name" required
            [ngClass]="{'is-invalid': userForm.submitted && !userForm.valid && !lastName}">
            <small *ngIf="userForm.submitted && !userForm.valid && !lastName" class="text-danger">*This field is required</small>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input ngModel type="email" class="form-control" name="email" placeholder="Email" required
            [ngClass]="{'is-invalid': userForm.submitted && !userForm.valid && !email}">
            <small *ngIf="userForm.submitted && !userForm.valid && !email" class="text-danger">*Valid email address is required</small>
          </div>
          <div class="form-group">
            <label for="activitySelect">Select an activity</label>
            <select ngModel class="form-control" name="activity" required
            [ngClass]="{'is-invalid': userForm.submitted && !userForm.valid && !activity}">
                <option [value]="item.name" *ngFor="let item of activities">{{item.name}}</option>
            </select>
            <small *ngIf="userForm.submitted && !userForm.valid && !activity" class="text-danger">*This field is required</small>
          </div>
          <div class="form-group">
            <label for="commentsText">Comments</label>
            <textarea ngModel class="form-control" name="comments" cols="30" rows="5"></textarea>
          </div>
        </div>
          <div class="form-group">
            <a class="btn btn-danger" (click)="resetForm(userForm)">Cancel</a>
            <button class="btn btn-info pull-right" type="submit">Register</button>
          </div>
      </form>
    </div>
    <!-- <app-registration class="col-sm-6" [(ngModel)]="user"></app-registration> -->
    <span class="col-sm-6" *ngIf="!registered">
      <p>Register to see attendance list</p>
    </span>
    <span class="col-sm-6" *ngIf="registered">
        <app-attendees></app-attendees>
      </span>
  </div>
</div>


